.friends-wrapper {
  display: flex;
  margin: 0 10px 10px 0;
  align-items: center;
}
.friends-wrapper > div {
  display: flex;
  width: 210px;
}
.friends-wrapper .friend-info {
  /* width: 100%; */
  margin-left: 10px;
  align-self: center;
}

.friends-wrapper .friend-info .name {
  font-weight: bold;
  font-size: 12px;
}

.friends-wrapper .friend-info .title {
  color: rgb(103, 101, 101);
  font-size: 9px;
}
